astropy==5.1
circle_fit==0.2.0
matplotlib==3.5.2
numpy==1.21.5
opencv-python-headless==4.5.4.60
pandas==1.4.4
protobuf
scikit_learn==1.2.2
streamlit==1.14.0
tqdm==4.64.1
google-api-core==2.11.0
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-cloud-bigquery[pandas]==3.5.0
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0