altgraph==0.17
amqp==2.5.2
aniso8601==8.0.0
anyjson==0.3.3
astroid==2.4.2
attrs==20.2.0
Babel==2.6.0
blinker==1.4
boto==2.49.0
cached-property==1.5.2
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
cloud-init==20.4
colorama==0.4.3
command-not-found==0.3
config==0.5.0.post0
configobj==5.0.6
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
debtcollector==2.0.0
defer==1.0.6
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==2.0.0
docutils==0.16
email-validator==1.1.1
entrypoints==0.3
eventlet==0.25.1
extras==1.0.0
fail2ban==0.11.1
fasteners==0.14.1
fixtures==3.0.0
Flask==1.1.2
Flask-Images==3.0.2
flask-restplus==0.13.0
Flask-WTF==0.14.3
future==0.18.2
gitdb2==2.0.6
GitPython==3.0.7
greenlet==0.4.15
httplib2==0.14.0
idna==2.10
importlib-metadata==1.5.0
iso8601==0.1.12
isort==5.6.3
itsdangerous==1.1.0
Jinja2==2.11.2
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
keyring==18.0.1
kiwisolver==1.3.1
kombu==4.6.7
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
linecache2==1.0.0
macaroonbakery==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
monotonic==1.5
more-itertools==4.2.0
msgpack==0.6.2
murano-agent===5.0.0.2.g59fb9bf
netaddr==0.7.19
netifaces==0.10.4
numpy==1.19.2
oauthlib==3.1.0
olefile==0.46
oslo.concurrency==4.0.2
oslo.config==8.0.2
oslo.context==3.0.2
oslo.i18n==4.0.1
oslo.log==4.1.1
oslo.serialization==3.1.1
oslo.service==2.1.1
oslo.utils==4.1.1
pandas==1.1.3
Paste==3.4.0
PasteDeploy==2.1.0
PasteScript==2.0.2
pbr==5.4.5
pefile==2019.4.18
Pillow==8.0.1
pillowcase==2.0.0
plotly==4.11.0
protobuf==3.6.1
psutil==5.5.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycups==1.9.73
Pygments==2.3.1
PyGObject==3.36.0
pyinotify==0.9.6
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
PyJWT==1.7.1
pylint==2.6.0
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyRFC3339==1.1
pyrsistent==0.17.3
pyserial==3.4
python-apt==2.0.0+ubuntu0.20.4.3
python-dateutil==2.8.1
python-dotenv==0.14.0
python-ldap==3.2.0
python-mimeparse==1.6.0
pytz==2020.1
PyYAML==5.3.1
repoze.lru==0.7
requests==2.22.0
requests-unixsocket==0.2.0
retrying==1.3.3
rfc3986==1.3.2
roman==2.0.0
Routes==2.4.1
SecretStorage==2.3.1
semantic-version==2.8.2
simplejson==3.16.0
six==1.15.0
smmap2==2.0.5
ssh-import-id==5.10
stevedore==1.32.0
systemd-python==234
Tempita==0.5.2
testtools==2.4.0
toml==0.10.1
traceback2==1.4.0
ubuntu-advantage-tools==20.3
ufw==0.36
unattended-upgrades==0.1
unittest2==1.1.0
urllib3==1.25.8
vine==1.3.0
wadllib==1.3.3
WebOb==1.8.5
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
zipp==1.0.0
