<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                     <p style="margin-top:100px; float:right; text-align:right"><i style="color:mediumvioletred" style="font-size:10px" class="fa fa-heart"></i> 
                        <a target="_blank" href="https://github.com/vsoch">@vsoch</a>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
