sphinx>=3.1
pandoc>=2.1
jupyter
ipython
ipykernel
nbsphinx
docutils<0.18
sphinx-intl
sphinx-rtd-theme
pydata-sphinx-theme
pygments>=2.4.1
myst_parser
sphinxext-rediraffe
sphinx-panels
sphinx-autobuild
sphinx-math-dollar

pillow==5.4.1
mock==1.0.1
commonmark==0.9.1
recommonmark==0.5.0
